<!DOCTYPE html>
<html ng-app="auraApp">
	<head>
		<link rel="shortcut icon" href="resources/media/miniaura.ico" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="resources/css/header-footer.css">
		<link rel="stylesheet" href="resources/css/pie-ameli.css">
		<link rel="stylesheet" href="resources/css/auraCSS.css" type="text/css">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="resources/js/angularJS.js"></script>
		<script src="resources/js/angularJS-route.js"></script>
		<script src="resources/js/jquery.min-1.8.js"></script>
		<script src="resources/js/dirPagination.js"></script>
		<script src="resources/js/config.js"></script>
		<script src="resources/js/auraEstadisticas.js"></script>
		<!--<script src="resources/js/auraJS.js"></script>-->
		<title>Estadísticas</title>
	</head>
	<body ng-controller="auraController">
		<div class="content1">
			<div class="content">
				<div id="header-aura">	
					<div class="header-logo-aura">
						<a href="index.html"><!--"https://aura.amelica.org/"-->
							<img src="resources/media/aura-01.png">
						</a>
					</div>
					<div id="text-aura" ng-if="idioma === 'es'">
						<p>El espacio desde AmeliCA para las políticas y licenciamiento de las revistas científicas</p>
					</div>
					<div id="text-aura" ng-if="idioma === 'en'">
						<p>The space from AmeliCA for the politics and licencing of scientific journals</p>
					</div>
				</div>
			</div>
		</div>
		<div id="main-aura">
			<div class="content2">
				<div class="header-ligas" ng-if="idioma === 'es'">
					<a href="index.html"><!--"https://aura.amelica.org/"-->
						<span id="menu-listado" class="header-option-now lang">Listado de revistas</span>
					</a>
					<a href="aura-estadisticas.html">
						<span id="menu-estadisticas" class="lang">Estadísticas</span>
					</a>
					<a href="https://aura.amelica.org/acerca-de-aura.html">
						<span id="menu-acerca" class="lang">Acerca de</span>
					</a>
					<a href="incluir-revista.html"><!--https://aura.amelica.org/incluir-revista.html-->
						<span id="menu-incluir" class="lang">¿Quiere incluir su revista?</span>
					</a>
				</div>
				<div class="header-ligas" ng-if="idioma === 'en'">
					<a href="index.html">
						<span id="menu-listado" class="header-option-now lang">Journals</span>
					</a>
					<a href="aura-estadisticas.html">
						<span id="menu-estadisticas" class="lang">Statistics</span>
					</a>
					<a href="https://aura.amelica.org/acerca-de-aura.html">
						<span id="menu-acerca" class="lang">About</span>
					</a>
					<a href="incluir-revista.html"> <!--https://aura.amelica.org/incluir-revista.html-->
						<span id="menu-incluir" class="lang">Do you want us to include your journal?</span>
					</a>
				</div>
				<div id="header-idioma">
					<a id="aLink" style="cursor: pointer;" ng-click="myFunc('en')">EN</a>
					<a id="aLink" style="cursor: pointer;" ng-click="myFunc('es')">ES</a>
				</div>
			</div>
		</div>
		<!-- <div class="linea-gris-separator"></div> -->
		<div class="content">
			<div ng-if="idioma === 'es'" style="min-width: 300px; overflow-x: auto; margin: 40px auto; display:none;">
				<img style="width: 900px; height:auto;" src="resources/media/estadisticas-graficas-04.png">
			</div>
			<div ng-if="idioma === 'en'" style="min-width: 300px; overflow-x: auto; margin: 40px auto; display:none;">
				<img style="width: 900px; height:auto;" src="resources/media/Statistics.png">
			</div>
		</div>

		<div id="graficas">
			<div id="titulo-estadistica" ng-if="idioma === 'es'">Estadísticas</div>
			<div id="titulo-estadistica" ng-if="idioma === 'en'">Statistics</div>
		 	<div class="contenedorGrafica" style="display: flex;" >
		 		<div class="titulo-grafica" ng-if="idioma === 'es'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registros </span>- Agrupados por color ROMEO</div>
		 		<div class="titulo-grafica" ng-if="idioma === 'en'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registrations </span>- Classified by ROMEO colours</div>
		 		<div class="grafica">
		 			<div id="grafica_color" class="chart_Container"></div>
		 		</div>
		 		<div class="tabla">
		 			<div id="tabla_color" class="table_sort_div"></div>
		 		</div>
		 	</div>

		 	<div class="contenedorGrafica" style="display: flex;">
		 		<div class="titulo-grafica" ng-if="idioma === 'es'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registros </span>- Agrupados por Acceso</div>
		 		<div class="titulo-grafica" ng-if="idioma === 'en'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registrations </span>- Classified by Access</div>
		 		<div class="grafica">
		 			<div id="grafica_acceso" class="chart_Container"></div>
		 		</div>
		 		<div class="tabla">
		 			<div id="tabla_acceso" class="table_sort_div"></div>
		 		</div>
		 	</div>

		 	<div class="contenedorGrafica" style="display: flex;">
		 		<div class="titulo-grafica" ng-if="idioma === 'es'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registros </span>- Mención específica de derechos</div>
		 		<div class="titulo-grafica" ng-if="idioma === 'en'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registrations </span>- Specific mention of rights</div>

		 		<div class="grafica">
		 			<div id="grafica_derechos" class="chart_Container"></div>
		 		</div>
		 		<div class="tabla">
		 			<div id="tabla_derechos" class="table_sort_div"></div>
		 		</div>
		 	</div>

		 	<div class="contenedorGrafica" style="display: flex;">
		 		<div class="titulo-grafica" ng-if="idioma === 'es'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registros </span>- ¿Permite el auto-archivo?</div>
		 		<div class="titulo-grafica" ng-if="idioma === 'en'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registrations </span>- Does it allow self-archive?</div>

		 		<div class="grafica">
		 			<div id="grafica_autoarchivo" class="chart_Container"></div>
		 		</div>
		 		<div class="tabla">
		 			<div id="tabla_autoarchivo" class="table_sort_div"></div>
		 		</div>
		 	</div>

		 	<div class="contenedorGrafica" style="display: flex;">
		 		<div class="titulo-grafica" ng-if="idioma === 'es'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registros </span>- Agrupados segun versión de auto-archivo</div>
		 		<div class="titulo-grafica"ng-if="idioma === 'en'"><span class="numero-registros">{{total}}</span> <span class="texto-regitros"> registrations </span>- Classified by self-archive version</div>

		 		<div class="grafica">
		 			<div id="grafica_version" class="chart_Container"></div>
		 		</div>
		 		<div class="tabla">
		 			<div id="tabla_version" class="table_sort_div"></div>
		 		</div>
		 	</div>
		 	
		</div>

		<footer>
			<div layout="block" id="footer">
				<div id="pie">
					<!-- <div id="greca-ameli-pie"></div> -->			
					<div id="content">
						<div id="texto-pie" class="texto-conocimiento" ng-if="idioma === 'es'">
							<p class="texto-resaltado">AmeliCA <br/> </p>
							<span>CIENCIA ABIERTA <br/> PARA EL BIEN COMÚN</span><br>
							<span>  </span> 
						</div>
						<div id="texto-pie" class="texto-conocimiento" ng-if="idioma === 'en'">
							<p class="texto-resaltado">AmeliCA <br/> </p>
							<span>OPEN SCIENCE <br/> FOR COMMON GOOD</span><br>
							<span> </span> 
						</div>  
					</div> 
				</div>
			</div>
		</footer>
	</body>
</html>