<!DOCTYPE html>
<html ng-app="auraApp">
	<head>
		<link rel="shortcut icon" href="resources/media/miniaura.ico" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="resources/js/angularJS.js"></script>
		<script src="resources/js/angularJS-route.js"></script>
		<script src="resources/js/jquery.min-1.8.js"></script>
		<script src="resources/js/dirPagination.js"></script>
		<script src="resources/js/auraDatosRevista2.js"></script>
		<script src="resources/js/config.js"></script>
		<link rel="stylesheet" href="resources/css/header-footer.css">
		<link rel="stylesheet" href="resources/css/pie-ameli.css">
		<link rel="stylesheet" href="resources/css/auraCSS.css" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<title>Detalle de revista</title>
		<style type="text/css">
			.table td, .table th {
    			border: 2px solid #dee2e6;
    			text-align: center;

    			
			}
			
			.bg-success {
    			background-color: #28a745!important;
    			color: white;
			}

			.bg-primary {
    			color: blue ;
			}
		</style>
	</head>
	<body ng-controller="auraController">
        <div class="content1">
            <div class="content">
                <div id="header-aura">	
                    <div class="header-logo-aura">
                        <a href="index.html"><!--"https://aura.amelica.org/"-->
                            <img src="resources/media/aura-01.png">
                        </a>
                    </div>
                    <div id="text-aura" ng-if="idioma === 'es'">
                        <p>El espacio desde AmeliCA para las políticas y licenciamiento de las revistas científicas</p>
                    </div>
                    <div id="text-aura" ng-if="idioma === 'en'">
                        <p>The space from AmeliCA for the politics and licencing of scientific journals</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-aura">
            <div class="content2">
                <div class="content3">
                    <div id="header-aura2">
                        <div class="header-ligas" ng-if="idioma === 'es'">
                            <a href="index.html"><!--"https://aura.amelica.org/"-->
                                <span id="menu-listado" class="header-option-now lang">Listado de revistas</span>
                            </a>
                            <a href="aura-estadisticas.html">
                                <span id="menu-estadisticas" class="lang">Estadísticas</span>
                            </a>
                            <a href="https://aura.amelica.org/acerca-de-aura.html">
                                <span id="menu-acerca" class="lang">Acerca de</span>
                            </a>
                            <a href="incluir-revista.html"><!--https://aura.amelica.org/incluir-revista.html-->
                                <span id="menu-incluir" class="lang">¿Quiere incluir su revista?</span>
                            </a>
                        </div>
                        <div class="header-ligas" ng-if="idioma === 'en'">
                            <a href="index.html">
                                <span id="menu-listado" class="header-option-now lang">Journals</span>
                            </a>
                            <a href="aura-estadisticas.html">
                                <span id="menu-estadisticas" class="lang">Statistics</span>
                            </a>
                            <a href="https://aura.amelica.org/acerca-de-aura.html">
                                <span id="menu-acerca" class="lang">About</span>
                            </a>
                            <a href="incluir-revista.html"> <!--https://aura.amelica.org/incluir-revista.html-->
                                <span id="menu-incluir" class="lang">Do you want us to include your journal?</span>
                            </a>
                        </div>
                        <div id="header-idioma">
                            <a id="aLink" style="cursor: pointer;" ng-click="myFunc('en')">EN</a>
                            <a id="aLink" style="cursor: pointer;" ng-click="myFunc('es')">ES</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- <div class="linea-gris-separator"></div> -->
		<div class="content" style="margin: 30px auto">
			<div class="list-title text-bold" style="text-align: left!important; width: 92%!important">
				<a href="index.html">
					<span>&#62;&#62; {{t.detalleRevista.regresar}}</span><!--{{t.menu.op3}}-->
				</a>
			</div>

			<div class="table-responsive-xl">
				<!--<div ng-if="idioma === 'es'" style="background: #efefef; width: 100%; height: 10px; padding: 10px;">Políticas de apertura y derechos de explotación de:</div>
				<div ng-if="idioma === 'en'" style="background: #efefef; width: 100%; height: 10px; padding: 10px;">Opening policies and exploitation rights of:</div>
				<div><img style="width: 100%" src="resources/documents/fichas/{{claveRevista}}.PNG"></div>-->
				
				<div id="ficha" ng-init="cargarDatos()">
					<table class="table">
					    <thead>
					    <tr>
					      <th colspan="3" style="text-align: left;border: none;text-align: center;"  ng-if="idioma === 'es'">Políticas de apertura y derechos de explotación de:</th>
					      <th colspan="3" style="text-align: left;border: none;text-align: center;"  ng-if="idioma === 'en'">Opening polices and exploitation of rights of:</th>
					      </tr>
					      <tr>
					        <th colspan="3" class="tr-background"  ng-style="color_romeo">{{nomRevista}}</th>
					      </tr>
					    </thead>
					    <tbody>   
					      <tr class="editorial">
					        <td style="width: 35%;">{{t.detalleRevista.editorial}}:</td><!--editorial-->
					        <td> {{nomInstitucion}}</td><!--{{nomInstitucion}}-->
					      </tr>
					      <tr class="danger tr-background" ng-style="color_romeo">
					        <td>{{t.detalleRevista.titularDerechos}}:</td><!--titularDerechos-->
					        <td>{{titularDerechos}}</td>
					      </tr>
					      <tr class="info">
					        <td>{{t.detalleRevista.issnElectronico}}: </td>
					        <td>{{issnElectronico}}</td>
					      </tr>
					      <tr class="warning tr-background"ng-style="color_romeo">
					        <td>{{t.detalleRevista.issnImpreso}}: </td>
					        <td>{{issnImpreso}}</td>
					      </tr>
					      <tr class="warning tr-background">
					        <td>{{t.detalleRevista.issnL}}: </td>
					        <td>{{issnL}}</td>
					      </tr>
					      <tr class="active"ng-style="color_romeo">
					        <td>{{t.detalleRevista.urlRevista}}: </td>
					        <td><a href={{urlRevista}}>{{urlRevista}}</a></td>
					      </tr>
					      <tr class="active tr-background"><!--ng-init="obtenerCategoria()"-->
					        <td>{{t.detalleRevista.nomCategoria}}: </td>
							<td>{{nomCategoria}}</td>
					      </tr>
					      <tr class="active"ng-style="color_romeo">
					        <td>{{t.detalleRevista.acceso}}: </td>
					        <td>{{acceso}}</td>
					      </tr>
					      <tr class="active tr-background">
					        <td>{{t.detalleRevista.mesesEmbargo}}: </td>
					        <td>{{mesesEmbargo}}</td>
					      </tr>
					      <tr class="active"ng-style="color_romeo">
					        <td>{{t.detalleRevista.derechosExplotacion}}: </td>
					        <td>{{derechosExplotacion}}</td>
					      </tr>
					      <tr class="active tr-background" >
					        <td>{{t.detalleRevista.ubicacionMencionDerechos}}: </td>
					        <td>{{ubicacionMencionDerechos}}</td>
					      </tr>
					      <tr class="active" ng-style="color_romeo">
					        <td>{{t.detalleRevista.urlMencionDerechos}}: </td>
					        <td><a href={{urlMencionDerechos}}>{{urlMencionDerechos}}</a></td>
					      </tr>
					      <tr class="active tr-background"  >
					        <td>{{t.detalleRevista.licenciaPublicacion}}: </td>
					        <td>{{licenciaPublicacion}}</td>
					      </tr>	
					      <tr class="active" ng-style="color_romeo">
					        <td>{{t.detalleRevista.urlInstruccionAutor}}: </td>
					        <td><a href={{urlInstruccionAutor}}>{{urlInstruccionAutor}}</a></td>
					      </tr>	
					      <tr class="active tr-background" >
					        <td>{{t.detalleRevista.autoArchivo}}: </td>
					        <td>{{autoArchivo}}</td>
					      </tr>	
					      <!--<tr class="active" ng-style="color_romeo">
					        <td>{{t.detalleRevista.versionAutoarchivo}}: </td>
					        <td>{{versionAutoarchivo}}</td>
					      </tr>	
					      <tr class="active tr-background" >
					        <td>{{t.detalleRevista.autoarchivoMomento}}: </td>
					        <td>{{autoarchivoMomento}}</td>
					      </tr>
					      <tr class="active" ng-style="color_romeo">
					        <td>{{t.detalleRevista.ubicacionAutoarchivo}}: </td>
					        <td>{{ubicacionAutoarchivo}}</td>
					      </tr>
					      <tr class="active" >
					          <td>{{t.detalleRevista.colorRomeo}}: </td>
					          <td>{{colorRomeo}}</td>
					          <div ng-style="color_romeo"></div>
					      </tr>-->
							<tr class="active " ng-style="color_romeo" ng-init="obtenerIndizaciones();">
					        <td>{{t.detalleRevista.textoIndizacion}}: </td>
							<td >{{textoIndizacion}} </td>
					      </tr>	
                          <tr class="active tr-background">
                            <td>{{t.detalleRevista.fechaActualizacion}}: </td>
                            <td>{{fechaActualizacion}}</td>
                          </tr>

					    </tbody>
					  </table>
				</div>
			</div>
		</div>

        <footer>
        

            <div layout="block" id="footer">
                <div id="pie">
                    <!-- <div id="greca-ameli-pie"></div> -->			
                    <div id="content">
                        <div id="texto-pie" class="texto-conocimiento" ng-if="idioma === 'es'">
                            <p class="texto-resaltado">AmeliCA <br/> </p>
                            <span>CIENCIA ABIERTA <br/> PARA EL BIEN COMÚN</span><br>
                            <span>  </span> 
                        </div>
                        <div id="texto-pie" class="texto-conocimiento" ng-if="idioma === 'en'">
                            <p class="texto-resaltado">AmeliCA <br/> </p>
                            <span>OPEN SCIENCE <br/> FOR COMMON GOOD</span><br>
                            <span> </span> 
                        </div>  
                    </div> 
                </div>
            </div>
        </footer>
	</body>
</html>